<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="unittest">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="/var/www/html/report" lowUpperBound="35" highLowerBound="70"/>
  </logging>
</phpunit>
